.active_session{
    margin-top: 20px;
    padding: 0;
}
.session{
}
.btn_1{
    margin-left: 900px;
}
.panel{
    height: 300px;
    width: 500px;
    
    background-color: #dbdbdb;
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , 0.5);
}
  
.price{
    background-color: #ededed;
    height: 60px;
    margin-top: 330px;
    margin-bottom: 0;
}
.agree{
  background-color: red;
    margin-top: 225px;
    height: 60px;
}
.agree p{
    padding-top: 30px;
    color: white;
}