a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.top_header{
    background: black;
    height: 58px;
}
.header_icon{
    margin-top: 14px;
}
.lower_header{
    padding: 0;
    vertical-align: top;
    height: 84px;
    box-shadow: 0 0 10px rgba(0 , 0 , 0 , 0.5)
}

.sq_icon{
    color: white;
    height , width: 30px;
    background-color: white;
}
.centered{
    text-align: center;
}
h1{
    margin-top: 20px;
    font-size: 30px;
}
.variants{
    margin-top: 100px;
    min-height: 200px;
/*    background-color: darkgray;*/
    margin-left: 10px;
    border: 3px solid aquamarine;
}
.variants:hover{
    border: 3px solid cornflowerblue;
    cursor: pointer;
}
.variants_description{
    margin-top: 30px;
}
footer{
    min-height: 100px;
    background-color: #ecf1f9;
    margin-top: 100px;
}
.copyright{
    font-weight: 500;
    color: darkgrey;
    margin-top: 50px;
}
.version{
    color: aqua;
    font-weight: 500;
    margin-top: 50px;
}
.text{
    margin-top: 45px;
}
.annotation{
    text-align: center;
    margin-top: 30px;
    display: inline-block;
}